<div class="container">
  <div class="row">
    <h3>Baustunden</h3>
    <div class="column">
      <table class="table">
		  <thead class="table header">
  			<tr>
  			  <th>Datum</th>
  			  <th>Beschreibung</th>
  			  <th>Dauer</th>
  			  <th>Projekt</th>
  			  <th>Zust채ndige</th>
  			  <th>Best채tigt</th>									  
		    </tr>
		  </thead>
        <tbody>
          <% @workunits.each do |wu| %>
            <tr>
              <%= render wu %>
            </tr>
          <% end %>
          <tr>
            <td colspan="6">
              <%= link_to "+ Neuer Eintrag", new_workunit_path%>
            </td>
          </tr>
        </tbody>
        <tfoot>
          
          <tr>
            <% if @workunits.count > 0%>
            <td colspan="3">Best채tigte Stunden: ???</td>
            <td colspan="3">Noch nicht Best채tigte Stunden: ???</td>
            <%else%>
            <td colspan="6">Keine Baustunden!</td>
            <%end%>
          </tr>
          
        </tfoot>
      </table>
    </div>
  </div>
</div>